.navigation-container {
  display: flex;
  align-items: center;

  height: 54px;
  background-color: #131418;
}

.navigation-logo {
  background-image: url(logo.png);
  background-size: cover;
  height: 55px;
  width: 55px;
}

.navigation-logo-placeholder {
  height: 55px;
  width: 55px;
}

.navigation-content-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}

.navigation-submit {
  width: 54px;
  height: 32px;
  line-height: 32px;
  border-radius: .2rem;
  background: #1E6ACF;
  color: white;
}

.navigation-submit.disable {
  background: #ccc;
}

