.image-container {

  overflow: hidden;
  border-radius: .3rem;
  box-sizing: border-box;

  position: relative;
}

.close-button {

  position: absolute;
  right: 0;
  top: 0;
  border-radius: .35rem;

  width: 30px;
  height: 30px;
  opacity: .4;
  background: #000;
  outline: none;
}

.image-item {
  background-size: contain;
  background-position: center;
}