.image-container {

  display: flex;
  align-items: center;

  position: relative;
  overflow: hidden;
  border-radius: .35rem;
  box-sizing: border-box;

  height: 120px;
  width: 120px;
}

.close-button {

  position: absolute;
  right: 0;
  top: 0;
  border-radius: .35rem;


  width: 30px;
  height: 30px;
  opacity: .4;
  background: #000;
  outline: none;
}

.image-item {
  background-size: contain;
  background-position: center;
  width: 120px;
  height: 120px;
}