.image-wrap {
    margin: .5%;
    position: relative;
    overflow: hidden;
    border-radius: .35rem;
    box-sizing: border-box;

    height: 240px;
    width: 240px;
}

.close-button {
    position: absolute;
    right: 0;
    top: 0;
    border-radius: .35rem;


    width: 30px;
    height: 30px;
    opacity: .4;
    background: #000;
    outline: none;
}