.reply-card-container {
  display: flex;

  background: #fff;
  padding: 18px 12px 0;
  border: 0;
  color: #9a9a9a;
}

.reply-card-avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.reply-card-content {
  border-bottom: 1px solid #f6f6f6;
  flex: 1;
  margin-left: 25px;
}

.reply-card-info {
  font-size: 12px;
  display: flex;

  justify-content: space-between;
}

.reply-card-text {
  margin: 10px 0;
  font-size: 14px;
  color: #555;
  text-align: left;
}