.m-uploader {
    width: 84px;
    height: 84px;

    position: relative;
    background: white;
}

.m-uploader:before {
    width: 1px;
    height: 30px;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #000;
}

.m-uploader:after {
    width: 30px;
    height: 1px;
    content: " ";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #000;
}

.m-uploader input {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;

    width: 84px;
    height: 84px;
}
