.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.test-div {
  position: absolute;
  padding: 0 20% 20% 0;
  border: 1px solid red;
}

.test-div2 {
  padding-bottom: 100%;
  height: 0;
  width: 100%;

  border: 1px solid green;
}
