body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.m-h1-title {
  color: #4e5053;
  font-weight: normal;
  font-size: 30px;
}

.m-subtitle {
  color: #8c8c8c;
  font-size: 14px;
}

.m-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 8px;

  min-height: 100vh;
}


.m-square-box {
  padding-bottom: 100%;
  height: 0;
  width: 100%;
}

.m-small-radius {
  overflow: hidden;
  border-radius: .3rem;
  box-sizing: border-box;
}

.m-circle {
  border: 1px solid #eee;
  border-radius: 50%;
}

.m-action-button {
  width: 80px;
  height: 32px;
  background: #1E6ACF;
  line-height: 32px;
  color: white;
  border-radius: 3px;
}


.App {
  text-align: center;
  background: #f5f5f5;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.test-div {
  position: absolute;
  padding: 0 20% 20% 0;
  border: 1px solid red;
}

.test-div2 {
  padding-bottom: 100%;
  height: 0;
  width: 100%;

  border: 1px solid green;
}
