body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.m-container {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 8px;
}


.m-square-box {
  padding-bottom: 100%;
  height: 0;
  width: 100%;
}

.m-small-radius {
  overflow: hidden;
  border-radius: .3rem;
  box-sizing: border-box;
}


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.test-div {
  position: absolute;
  padding: 0 20% 20% 0;
  border: 1px solid red;
}

.test-div2 {
  padding-bottom: 100%;
  height: 0;
  width: 100%;

  border: 1px solid green;
}
