.gallery-action {

  display: flex;

  align-items: center;
  justify-content: center;

  margin: 12px 0;
}

.gallery-action-button {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-subtitle {
  margin-bottom: 16px;
}

.gallery-subtitle-text {
  margin: 0 5px;
}