.gallery-action {

  display: flex;

  align-items: center;
  justify-content: center;

  margin: 12px 0;
}

.gallery-action-button {
  width: 60px;
  height: 60px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-subtitle {
  margin-bottom: 16px;
  display: flex;
  justify-content: space-between;
  padding: 0 12px;
}

.gallery-subtitle-text {
  margin: 0 5px;
}

.gallery-subtitle-text i {
  margin-right: 4px;
}

.gallery-comment-count {
  height: 32px;
  line-height: 32px;
  font-size: 13px;
  color: #404040;
  padding: 0 0 0 25px;
  background: #fff;
  border-bottom: 1px solid #f4f4f4;
  text-align: left;
}